$primary-white: #fff;
$primary-grey: rgb(138, 138, 138);
$secondary-grey: rgb(114, 114, 114);
$primary-black: #000;
$secondary-black: rgb(70, 70, 70);
$primary-blue: rgb(0, 153, 255);
$secondary-blue: rgb(0, 124, 207);
$dark-blue: rgb(29, 63, 85);
